@import "../../styles/normalize.css";
@import "../../styles/global.css";
@import "../../styles/variables.css";
@import "../../styles/header.css";
@import "../../styles/halls.css";
@import "../../styles/footer.css";
@import "../../styles/modal.css";
@import "../../styles/menu.css";

/* header */
.header {
  top: 100px;
  padding-bottom: 20px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header__back-link {
  display: inline-block;
  align-self: flex-start;
  margin-left: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  position: relative;
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.header__back-link:before {
  content: " ";
  width: 30px;
  height: 16px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../../halls/halls_images/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header__back-link:hover {
  color: var(--hover-color, #6c0287);
}

.header__back-link:active {
  color: var(--active-color, #640aa3);
}

.header__back-link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

/* modal */
.modal-form-overlay.is-visible .modal-form {
  top: 215px;
}

/* hero */
.hero {
  padding-top: 0;
}

.hero__container {
  padding: 0;
  max-width: 100%;
  height: 750px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero__container_80s-vibes {
  background-image: url('../../halls/halls_images/80s_vibes.jpg');
}

.hero__container_star-wars {
  background-image: url('../../halls/halls_images/star_wars.jpg');
}

.hero__container_wild-west {
  background-image: url('../../halls/halls_images/wild_west.jpg');
}

.hero__container_neon-style {
  background-image: url('../../halls/halls_images/neon_style.jpg');
}

.hero__title {
  place-self: center;
  font-weight: 700;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* description */
.description__text {
  margin: 0 auto;
  max-width: 1000px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.description__text_star-wars {
  text-transform: uppercase;
}

/* room-about */
.room-about__title {
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.room-about__wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.room-about__image {
  width: 600px;
  height: 424px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.room-about__image_80s-vibes {
  background-image: url('../../image/halls_vibes.jpg');
}

.room-about__image_star-wars {
  background-image: url('../../image/halls_starwars.jpg');
}

.room-about__image_wild-west {
  background-image: url('../../image/halls_wildwest.jpg');
}

.room-about__image_neon-style {
  background-image: url('../../image/halls_neon.jpg');
}

.room-about__text {
  max-width: 500px;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-line;
}

.room-about__text_star-wars {
  text-transform: uppercase;
}

/* halls */
.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 40px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item{
  display: flex;
  flex: 1 1 50px;
  width: 380px;
  min-width: 288px;
}

.card__title {
  font-size: 30px;
  line-height: 1.2;
}

.card__title_80s-vibes {
  white-space: nowrap;
}

/* footer */
.footer {
  padding-top: 32px;
  padding-bottom: 44px;
}

@media (max-width: 1280px) {
  .header {
    top: 90px;
  }

  .header__wrapper {
    gap: 50px;
  }

  .hero__container {
    height: 534px;
  }

  .hero__title {
    font-size: 80px;
    line-height: 70px;
  }

  .description__text {
    max-width: 800px;
    font-size: 20px;
  }

  .room-about__title {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 40px;
  }
  
  .room-about__wrapper {
    justify-content: space-around;
    gap: 30px;
  }

  .room-about__image {
    width: 461px;
    height: 326px;
  }

  .room-about__text {
    max-width: 413px;
    font-size: 18px;
  }

  .halls {
    padding-bottom: 40px;
  }

  .halls__title {
    margin-bottom: 36px;
  }
  
  .halls__item{
    min-width: 240px;
  }

  .footer {
    padding-top: 42px;
  }
}

@media (max-width: 900px) {
  .header {
    top: 85px;
  }

  .header__wrapper {
    gap: 40px;
  }

  .header__back-link {
    font-size: 16px;
    line-height: 28px;
  }

  .hero__container {
    height: 402px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 1.2;
  }

  .description__text {
    max-width: 688px;
    font-size: 16px;
  }

  .room-about__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
  
  .room-about__wrapper {
    gap: 46px;
  }

  .room-about__image {
    width: 329px;
    height: 326px;
  }

  .room-about__text {
    max-width: 313px;
    font-size: 16px;
    line-height: 28px;
  }

  .halls {
    padding-bottom: 35px;
  }

  .halls__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 36px;
  }
  
  .halls__list {
    gap: 6px;
  }

  .halls__item{
    min-width: 130px;
  }
  
  .card__title {
    font-size: 20px;
  }

  .footer {
    padding-top: 35px;
  }
}

@media (max-width: 540px) {
  .header {
    top: 55px;
    padding-bottom: 15px;
  }

  .header__wrapper {
    gap: 15px;
  }

  .header__back-link {
    margin-left: 22px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__back-link:before {
    width: 16px;
    height: 8px;
    left: -22px;
  }

  .modal-form-overlay.is-visible .modal-form {
    top: 130px;
  }

  .hero__container {
    height: 168px;
  }

  .hero__title {
    font-size: 30px;
  }

  .description__text {
    max-width: 280px;
  }

  .room-about__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  
  .room-about__wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .room-about__image {
    width: 280px;
    height: 180px;
  }

  .room-about__text {
    max-width: 280px;
    font-size: 12px;
    line-height: 16px;
  }

  .halls {
    padding-bottom: 20px;
  }

  .halls__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .halls__list {
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }

  .halls__item{
    max-width: 280px;
  }

  .card__title_80s-vibes {
    white-space: pre-line;
  }

  .footer {
    padding-top: 17px;
  }
}

@media (max-width: 430px) {
  .modal-form-overlay.is-visible .modal-form {
    top: 20px;
  }
}