.about__title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.about__image {
  margin-right: 70px;
}

.about__description {
  display:inline-block;
  max-width: 500px;
  vertical-align: top;
}

.about__text {
  display: inline-block;
  max-width: 500px;
  margin-bottom: 70px;
  white-space: pre-line;
  font-size: 20px;
  line-height: 28px;
}

.blockquote__quote {
  padding-left: 30px;
  margin-bottom: 40px;
}

.quote {
  display: inline-block;
  max-width: 500px;
  white-space: pre-line;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

.quote:before {
  content: "\201c";
  font-weight: 900;
  font-size: 44px;
  color: #6C0287;
  position: absolute;
  left: -30px;
  top: -15px;
}

.quote:after {
  content: "\201d";
  font-weight: 900;
  font-size: 44px;
  color: #6C0287;
  position: absolute;
  right: 20px;
  bottom: 0;
}

.blockquote__cite {
  padding-left: 100px;
}

.cite {
  display: inline-block;
  padding-left: 110px;
  white-space: pre-line;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  background-image: url('../image/about_boss.png');
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: left;
}

.text-case {
  text-transform: uppercase;
}
