.footer {
  background-image: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 156px 60px;
}

.address {
  font-style: normal;
}

.address__location {
  padding-left: 60px;
  margin-bottom: 38px;
  white-space: pre-line;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_location.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.address__tel {
  padding-left: 60px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_phone.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.address__link {
  text-decoration: none;
  color: var(--text-color, #ffffff);
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.address__link:hover {
  color: var(--link-hover-color, #6c0287);
}

.address__link:active {
  color: var(--link-active-color, #640aa3);
}

.address__link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

.address__email {
  padding-left: 60px;
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_envelope.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.social {
  display: flex;
  gap: 26px;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  color: var(--text-color, #ffffff);
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition-property: color, outline-color;
  transition-duration: .3s, .2s;
  transition-timing-function: ease-in-out;
}

.social__link:hover {
  color: var(--icon-hover-color, #eadeed);
}

.social__link:focus {
  color: var(--icon-hover-color, #eadeed);
  outline-color: var(--focus-color, #cd06ff);
}

.social__link:active {
  color: var(--focus-color, #cd06ff);
}

/*
.social__link {
  display: block;
  width: 50px;
  height: 50px;
  color: #ffffff;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 100%;
  transition-property: color, outline-color;
  transition-duration: .3s, .2s;
  transition-timing-function: ease-in-out;
}

.social__link:hover {
  color: var(--focus-color, #cd06ff);
}

.social__link:focus {
  outline-color: var(--focus-color, #cd06ff);
}

.social__link:active {
  color: #840aa3;
}
*/

.copy {
  width: 1180px;
  display: flex;
  justify-content: space-between;
}

.copy__text {
  white-space: pre-line;
  line-height: 16px;
  text-align: right;
  font-size: 14px;
}
