.footer__title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.address {
  font-style: normal;
}

.address__location {
  padding-left: 60px;
  margin-bottom: 38px;
  white-space: pre-line;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_location.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.address__tel {
  padding-left: 60px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_phone.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.address__link {
  text-decoration: none;
  color: #ffffff;
}

.address__email {
  padding-left: 60px;
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 24px;
  background-image: url('../image/contacts_envelope.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 26px;
}

.social__link {
  color: #ffffff;
}
