.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.halls__item{
  display: block;
  max-width: 580px;
}

.card .card__title{
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.card:hover .card__title {
  color: var(--card-hover-color, #6c0287);
}

.card:active .card__title {
  color: var(--card-active-color, #640aa3);
}

.card__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.card__link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

.card__title {
  white-space: pre-line;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: var(--text-color, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1439px) {
  .halls__list {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .halls {
    padding-bottom: 70px;
  }

  .halls__title {
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 40px;
  }
  
  .halls__list {
    gap: 18px;
    justify-content: space-between;
  }
  
  .halls__item{
    max-width: 443px;
  }

  .card__title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1023px) {
  .halls__list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .halls {
    padding-bottom: 62px;
  }

  .halls__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 36px;
  }
  
  .halls__list {
    gap: 14px;
    justify-content: space-between;
  }
  
  .halls__item{
    max-width: 335px;
  }

  .card__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .halls__list {
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .halls__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 400px) {
  .halls {
    padding-bottom: 30px;
  }
  
  .halls__list {
    gap: 10px;
    justify-content: center;
  }
  
  .halls__item{
    max-width: 280px;
  }

  .card__title {
    font-size: 26px;
    line-height: 34px;
  }
}