.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.halls__item{
  display: block;
  max-width: 580px;
}

.card .card__title{
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.card:hover .card__title {
  color: var(--card-hover-color, #6c0287);
}

.card:active .card__title {
  color: var(--card-active-color, #640aa3);
}

.card__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.card__link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

.card__title {
  white-space: pre-line;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: var(--text-color, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

