.halls {
  margin-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.halls__list {
  list-style: none;
}

.card__link {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.card:not(:last-child) {
  margin-bottom: 60px;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

