.header {
  background-color: #1b1a1b;
  position: sticky;
  left: 50%;
  transform: translateY(-50%);
  top: 60px;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
  width: 120px;
  height: 66px;
}

.header__logo-link:focus-visible {
  outline: 1px solid #cd06ff;
  outline-offset: 3px;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navigation__list {
  text-transform: uppercase;
  line-height: 50px;
  font-size: 22px;
}

.navigation__link:hover {
  color: #6c0287;
}

.navigation__link:active {
  color: #640aa3;
}

.navigation__link:focus-visible {
  outline: 1px solid #cd06ff;
  outline-offset: 3px;
}

.header__button {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border: none;
  outline: 3px solid #CD06FF;
  border-radius: 10px;
  width: 280px;
  height: 55px;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
}

.header__button:hover,
.header__button:focus {
  border: none;
  outline: none;
  background-color: #6c0287;
}

.header__button:active {
  border: none;
  background-color: #640aa3;
}