.header {
  background-color: var(--bg-color, #1b1a1b);
  position: sticky;
  left: 50%;
  transform: translateY(-50%);
  top: 60px;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-button {
  display: none;
}

.header__logo-link {
  display: block;
  width: 120px;
  height: 66px;
}

.header__logo-link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 22px;
}

.navigation__link {
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.navigation__link:hover {
  color: var(--hover-color, #6c0287);
}

.navigation__link:active {
  color: var(--active-color, #640aa3);
}

.navigation__link:focus-visible {
  outline: 1px solid var(--focus-color, #cd06ff);
  outline-offset: 3px;
}

.header__button {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border: none;
  outline: 3px solid var(--outline-color, #cd06ff);
  border-radius: 10px;
  width: 280px;
  height: 55px;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  font-size: 22px;
  color: var(--text-color, #ffffff);
  background-color: transparent;
  transition-property: outline, background-color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.header__button:hover,
.header__button:focus {
  border: none;
  outline-color: transparent;
  background-color: var(--hover-color, #6c0287);
}

.header__button:active {
  border: none;
  background-color: var(--active-color, #640aa3);
}

@media (max-width: 1280px) {
  .header__logo-link {
    width: 87px;
    height: 55px;
  }

  .navigation__list {
    gap: 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .header__button {
    padding: 10px 26px;
    border-radius: 8px;
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .header__menu-button {
    display: block;
    border: none;
    background-color: transparent;
    width: 54px;
    height: 29px;
    outline: 1px solid transparent;
  }
  
  .header__burger-menu {
    transition-property: transform, background-color, outline;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
  }

  .header__burger-menu_top {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 7px;
    background-color: #6c0287;
    border-radius: 2px;
  }
  
  .header__burger-menu_center {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 2px;
    background-color: #6c0287;
    border-radius: 2px;
  }
  
  .header__burger-menu_center_two {
    display: block;
    opacity: 0;
    width: 100%;
    height: 5px;
    background-color: #6c0287;
    border-radius: 2px;
  }
  
  .header__burger-menu_bottom {
    display: block;
    width: 31px;
    height: 5px;
    background-color: #6c0287;
    border-radius: 2px;
  }
  
  .header__menu-button:hover > span {
    background-color: #cd06ff;
    /* transition-property: background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
  }
  
  .header__menu-button:focus > span {
    background-color: #840aa3;
    /* transition-property: background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
  }
  
  .header__menu-button:focus {
    width: 58px;
    height: 58px;
    padding: 14px 2px;
    outline: 1px solid var(--focus-color, #cd06ff);
    /* transition-property: outline;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
  }
  
  .header__menu-button:active > .header__burger-menu_top {
    display: none;
  }
  
  .header__menu-button:active > .header__burger-menu_center {
    transform: rotate(45deg);
    margin-bottom: 0;
    /* transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
  }
  
  .header__menu-button:active > .header__burger-menu_center_two {
    display: block;
    opacity: 1;
    transform: rotate(-45deg);
    margin-top: -5px;
    /* transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
  }
  
  .header__menu-button:active > .header__burger-menu_bottom {
    display: none;
  }
  
  .navigation__list {
    display: none;
  }
}

