.hero__container{
  width: 1440px;
  height: 823px; 
  position: relative;
}

.hero__container:after {
  content: " ";
  width: 675px;
  height: 762px;
  position: absolute;
  right: 130px;
  bottom: 0;
  background-image: url('../image/hero_man.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: -15px;
  font-weight: 900;
  font-size: 150px;
}

.hero__description {
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 28px;
}

.hero__content {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 150px 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.content__text {
  white-space: pre-line;
  text-align: center;
  line-height: 34.5px;
  font-size: 30px;
}

.content__text_4 {
  color: #cd06ff;
  line-height: 141px;
  font-weight: 900;
  font-size: 100px;
}

.content__text_new {
  color: #cd06ff;
  line-height: 106px;
  font-weight: 900;
  font-size: 75px;
}

.content__button {
  cursor: pointer;
  text-decoration: none;
  padding: 25px 69px;
  border: none;
  border-radius: 10px;
  width: 374px;
  height: 80px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  background-color: #6c0287;
  filter: drop-shadow(0px 0px 10px rgba(108, 2, 135, 1));
}

.hero__down-button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  /*
  зафиксировать кнопку "вниз"
  top: 782px;
  position: fixed;
  */
}

