.hero {
  margin-bottom: 100px;
}

.hero__container{
  width: 1440px;
  height: 823px; 
  position: relative;
}

.hero__container:after {
  content: " ";
  width: 675px;
  height: 762px;
  position: absolute;
  right: 130px;
  bottom: 0;
  background-image: url('../image/hero_man.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: -15px;
  font-weight: 900;
  font-size: 150px;
}

.hero__description {
  margin-left: 100px;
  font-size: 28px;
}

