.hero {
  padding-top: 20px;
}

.hero__container{
  width: 1440px;
  height: 823px; 
  position: relative;
}

.hero__container:after {
  content: " ";
  width: 675px;
  height: 762px;
  position: absolute;
  right: 130px;
  bottom: 0;
  background-image: url('../image/hero_man.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: -15px;
  font-weight: 900;
  font-size: 150px;
}

.hero__description {
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 28px;
}

.hero__content {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 150px 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.content__text {
  white-space: pre-line;
  text-align: center;
  line-height: 34.5px;
  font-size: 30px;
}

.content__text_4 {
  color: var(--text-decoration-color, #cd06ff);
  line-height: 141px;
  font-weight: 900;
  font-size: 100px;
}

.content__text_new {
  color: var(--text-decoration-color, #cd06ff);
  line-height: 106px;
  font-weight: 900;
  font-size: 75px;
  font-variant: small-caps;
}

.content__button {
  cursor: pointer;
  text-decoration: none;
  padding: 25px 69px;
  border: none;
  border-radius: 10px;
  width: 374px;
  height: 80px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  font-size: 26px;
  color: var(--text-color, #ffffff);
  background-color: var(--button-color, #6c0287);
  filter: drop-shadow(0px 0px 10px rgba(108, 2, 135));
  transition-property: background-color, filter;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.content__button:hover,
.content__button:focus {
  border: none;
  outline: none;
  background-color: var(--button-hover-color, #840aa3);
  filter: drop-shadow(0px 0px 10px rgba(132, 10, 164));
}

.content__button:active {
  border: none;
  background-color: var(--button-active-color, #640aa3);
  filter: drop-shadow(0px 0px 10px rgba(100, 10, 163));
}

.hero__down-button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  display: block;
  width: 97px;
  height: 97px;
  outline: 1px solid transparent;
  outline-offset: 1px;
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  /*
  зафиксировать кнопку "вниз"
  top: 782px;
  position: fixed;
  */
}

svg {
  border-radius: 100%;
  transition-property: background-color, fill, stroke;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.hero__down-button:hover > svg {
  background-color: var(--down-color, #ffffff);
}

.hero__down-button:hover > svg > rect{
  fill: var(--down-hover-color, #6c0287);
}

.hero__down-button:focus {
  outline: 1px solid var(--down-active-color, #cd06ff);
  outline-offset: 1px;
}

.hero__down-button:active > svg {
  background-color: var(--down-active-color, #cd06ff);
}

.hero__down-button:active > svg > circle {
  stroke: var(--down-active-color, #cd06ff);
}

.hero__down-button:active > svg > rect{
  fill: var(--down-color, #ffffff);
}


