.reservation {
  margin-bottom: 100px;
}

.reservation__title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.halls-choice__label {
  text-transform: uppercase;
}
