.reservation {
  width: 1180px;
  height: 455px;
  margin-bottom: 100px;
}

.reservation__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.halls-choice__label {
  text-transform: uppercase;
}
