.reservation {
  padding: 80px 0;
  background-color: var(--bg-color, #440f51);
}

fieldset{
  border: none;
  padding: 0;
}

/*заголовки legend*/
.reservation__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.halls-choice__title,
.amusement-choice__title,
.date-choice__title {
  margin: 0 auto 40px auto;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.console__title,
.tabletop-game__title,
.extra__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/*выбери зал*/
.halls-choice {
  margin-bottom: 60px;
}

.halls-choice__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.halls-choice__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.halls-choice__label {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--radio-text-color, #1b1a1b);
  background-color: var(--radio-color, #ffffff);
  border-radius: 8px;
  padding: 7px 15px;
  width: 250px;
  height: 55px;
  display: flex; 
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, outline;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.halls-choice__label:hover {
  background-color: var(--radio-hover-color, #eadeed);
  outline: 3px solid var(--radio-hover-outline-color, #640aa3);
}

.halls-choice__radio:checked + .halls-choice__label {
  outline: 3px solid var(--radio-checked-outline-color, #ffffff);
  background-color: var(--radio-checked-color, #6c0287);
  color: var(--text-color, #ffffff);
}

.halls-choice__radio:active + .halls-choice__label {
  background-color: var(--radio-color, #ffffff);
  outline: 3px solid var(--radio-hover-outline-color, #640aa3);
  border-radius: 8px;
  color: var(--radio-text-color, #1b1a1b);
}

.halls-choice__radio:focus-visible {  /* чтобы в Mozilla не отображались точки при focus-visible */
  outline: none !important;
  border: none !important;
} 

/*собери набор развлечений*/
.amusement-choice {
  max-width: 980px;
  margin: 0 auto 60px auto;
  display: flex;
  justify-content: space-between;
}

.console,
.tabletop-game,
.extra {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.console__label {
  cursor: pointer;
  padding-left: 39px;
  font-size: 22px;
  line-height: 25px;
  position: relative;
}

.console__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 0;
  top: 50%;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 100%;
  transform: translateY(-50%);
  transition-property: outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.console__radio:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--checkbox-color, #ffffff);
  border-radius: 100%;
}

.console__radio:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: 7px solid var(--checkbox-color, #ffffff);
  background-color: var(--checkbox-checked-color, #6c0287);
  opacity: 0;
}

.console__radio:checked:after {
  opacity: 1;
}

.console__radio:focus {
  outline: 1px solid var(--checkbox-outline-color, #cd06ff);
  outline-offset: 3px;
  border-radius: 100%;
}

.tabletop-game__label,
.extra__label {
  cursor: pointer;
  padding-left: 37px;
  font-size: 22px;
  line-height: 25px;
  position: relative;
}

.tabletop-game__checkbox,
.extra__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transform: translateY(-50%);
  transition-property: outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.tabletop-game__checkbox:before,
.extra__checkbox:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--checkbox-color, #ffffff);
}

.tabletop-game__checkbox:after,
.extra__checkbox:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 7px solid var(--checkbox-color, #ffffff);
  background-color: var(--checkbox-checked-color, #6c0287);
  opacity: 0;
}

.tabletop-game__checkbox:checked:after,
.extra__checkbox:checked:after {
  opacity: 1;
}

.tabletop-game__checkbox:focus,
.extra__checkbox:focus {
  outline: 1px solid var(--checkbox-outline-color, #cd06ff);
  outline-offset: 3px;
}

/*выбери дату и время*/
.date-choice {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 50px;
}

/*блок: дата, время, сколько человек*/
.date-choice__date {
  margin-top: 22px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
}

.date-choice__date__container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
  opacity: 0 !important;
}

input[type=date]::-webkit-datetime-edit,
input[type=time]::-webkit-datetime-edit {
  font-size: 13px;
}

.date-choice__date__date-input::placeholder,
.date-choice__date__time-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.date-choice__date__date-input {
  cursor: pointer;
  border: none;
  width: 134px;
  height: 52px;
  padding: 12px 15px 12px 20px;
  font-size: 13px;
  background-color: var(--input-color, #ffffff);
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.date-choice__date__date-label {
  position: relative;
}

.date-choice__date__date-input:focus {
  outline: 2px solid var(--focus-color, #cd06ff);
}

.date-choice__date__time-input {
  cursor: pointer;
  border: none;
  width: 134px;
  height: 52px;
  padding: 12px 20px;
  font-size: 13px;
  background-color: var(--input-color, #ffffff);
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.date-choice__date__time-label {
  position: relative;
}

.date-choice__date__time-input:focus {
  outline: 2px solid var(--focus-color, #cd06ff);
}

.date-choice__date__label {
  position: relative;
  background-color: var(--input-color, #ffffff);
}

.date-choice__date__date-label:after,
.date-choice__date__time-label:after,
.date-choice__date__label:after {
  content: '';
  width: 21px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  background-image: url('../image/input_triangle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.date-choice__date__select {
  cursor: pointer;
  padding: 12px 20px;
  appearance: none;
  border: none;
  background-color: inherit;
  width: 300px;
  height: 52px;
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.date-choice__date__select:focus {
  outline: 2px solid var(--focus-color, #cd06ff);
}

/*блок:имя, фамилия*/
.date-choice__name {
  width: 280px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date-choice__name__label {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date-choice__name__input {
  padding: 10px;
  width: 280px;
  height: 52px;
  border: none;
  background-color: var(--input-color, #ffffff);
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.date-choice__name__input:focus {
  outline: 2px solid var(--focus-color, #cd06ff);
}

/*блок: телефон, e-mail*/
.date-choice__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.date-choice__container {
  width: 300px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.date-choice__contacts__label {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date-choice__contacts__input {
  padding: 10px;
  width: 300px;
  height: 52px;
  border: none;
  background-color: var(--input-color, #ffffff);
  transition-property: outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.date-choice__contacts__input:focus {
  outline: 2px solid var(--focus-color, #cd06ff);
}

/*кнопка: забронировать*/
.reservation__button {
  display: block;
  padding: 16px 50px;
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color, #ffffff);
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  color: var(--button-text-color, #6c0287);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  transition-property: background-color, outline, filter;
  transition-duration: .4s, .2s, .4s;
  transition-timing-function: ease-in-out;
}

.reservation__button:hover {
  background-color: var(--button-state-color, #eadeed);
  outline: 3px solid var(--button-state-outline-color, #6c0287);
  filter: none;
}

.reservation__button:active {
  background-color: var(--button-state-color, #eadeed);
  filter: none;
}

.reservation__button:focus {
  outline: 3px solid var(--button-state-outline-color, #6c0287);
  filter: none;
}

@media (max-width: 1280px) {
  .reservation__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 1150px) {
  .halls-choice__label {
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
    padding: 10px 20px;
    width: 180px;
    height: 44px;
  }

  .halls-choice__radio:focus + .halls-choice__label {
    border-radius: 6px;
  }
}

@media (max-width: 1024px) {
  .reservation {
    padding: 60px 0;
  }

  .halls-choice__title,
  .amusement-choice__title,
  .date-choice__title {
    margin: 0 auto 26px auto;
    font-size: 24px;
    line-height: 28px;
  }

  .amusement-choice {
    max-width: 904px;
  }

  .date-choice__contacts {
    gap: 50px;
  }

  .date-choice__name {
    width: 251px;
  }

  .date-choice__name__input {
    width: 251px;
  }

  .date-choice__container {
    width: 254px;
  }

  .date-choice__contacts__input {
    width: 254px;
  }

  .reservation__button {
    padding: 13px 45px;
    width: 254px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 950px) {
  .date-choice {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 42px 106px;
  }

  .date-choice__date {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .date-choice__date__container {
    gap: 14px;
  }

  .date-choice__contacts {
    gap: 48px;
  }
}

@media (max-width: 840px) {
  .halls-choice__label {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
    width: 150px;
    height: 38px;
  }
}

@media (max-width: 768px) {
  .reservation {
    padding: 50px 0;
  }

  .reservation__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }

  .halls-choice__title,
  .amusement-choice__title,
  .date-choice__title {
    margin: 0 auto 30px auto;
  }

  .halls-choice {
    margin-bottom: 50px;
  }

  .amusement-choice {
    max-width: 688px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .console,
  .tabletop-game,
  .extra {
    gap: 40px;
  }

  .console__label {
    padding-left: 60px;
  }

  .console__radio {
    width: 40px;
    height: 40px;
  }

  .tabletop-game__label,
  .extra__label {
    padding-left: 60px;
  }

  .tabletop-game__checkbox,
  .extra__checkbox {
    width: 40px;
    height: 40px;
  }

  .date-choice {
    justify-content: space-between;
    gap: 42px;
  }

  .date-choice__date {
    justify-content: space-between;
  }

  .date-choice__name {
    width: 280px;
  }

  .date-choice__name__input {
    width: 280px;
  }

  .date-choice__container {
    width: 300px;
  }

  .date-choice__contacts__input {
    width: 300px;
  }

  .reservation__button {
    padding: 16px 50px;
    width: 300px;
    height: 60px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 730px) {
  .halls-choice {
    margin: 0 auto 50px auto;
  }

  .halls-choice__container {
    margin: 0 auto;
    max-width: 400px;
    gap: 25px;
    justify-content: center;
  }

  .date-choice {
    margin: 0 auto;
    max-width: 400px;
    justify-content: center;
  }

  .date-choice__date__container {
    gap: 32px;
  }

  .date-choice__date {
    justify-content: space-around;
    max-width: 300px;
    flex-wrap: wrap;
  }

  .date-choice__name {
    width: 300px;
  }

  .date-choice__name__input {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .reservation {
    padding: 30px 0;
  }

  .reservation__title {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
  }
  
  .halls-choice__title,
  .amusement-choice__title {
    margin: 0 auto 15px auto;
    font-size: 14px;
    line-height: 18px;
  }

  .date-choice__title {
    margin: 0 auto 25px auto;
    font-size: 14px;
    line-height: 18px;
  }

  .console__title,
  .tabletop-game__title,
  .extra__title {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 18px;
  }

  .halls-choice {
    margin-bottom: 30px;
  }

  .halls-choice__container {
    max-width: 280px;
    gap: 14px 6px;
    justify-content: space-between;
  }

  .halls-choice__label {
    font-size: 14px;
    line-height: 18px;
    padding: 6px 20px;
    width: 130px;
    height: 30px;
    border-radius: 4px;
  }

  .halls-choice__radio:focus + .halls-choice__label {
    border-radius: 4px;
  }

  .amusement-choice {
    max-width: 280px;
    flex-direction: column;
    gap: 30px;
  }

  .console__label {
    padding-left: 50px;
    font-size: 16px;
    line-height: 18px;
  }

  .console__radio {
    width: 30px;
    height: 30px;
  }

  .tabletop-game__label,
  .extra__label {
    padding-left: 50px;
    font-size: 16px;
    line-height: 18px;
  }

  .tabletop-game__checkbox,
  .extra__checkbox {
    width: 30px;
    height: 30px;
  }

  .date-choice {
    gap: 35px;
  }

  .date-choice__date__container {
    gap: 12px;
  }

  .date-choice__date {
    gap: 15px;
  }

  .date-choice__date__select {
    width: 280px;
  }

  .date-choice__name {
    width: 280px;
  }

  .date-choice__name__input {
    width: 280px;
  }

  .date-choice__container {
    width: 280px;
  }

  .date-choice__contacts {
    gap: 35px;
  }

  .date-choice__contacts__input {
    width: 280px;
  }

  .reservation__button {
    padding: 17px 58px;
    width: 280px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 26px;
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
  }
}