.rest__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  white-space: pre-line;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.rest__item {
  flex: 1 1 50px;
  width: 380px;
  min-width: 287px;
}

.rest__item:nth-child(2) {
  margin-top: 70px;
}

.rest__item:nth-child(2n+4) {
  margin-top: -70px;
}

.figure {
  display: block;
  position: relative;
  transition-property: transform, filter;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}

.figure__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  left: 40px;
  bottom: 36px;
}

.figure__text_audio {
  max-width: 196px;
  left: 40px;
  bottom: 12px;
}

.figure__text_kino {
  max-width: 300px;
  left: 40px;
  bottom: 8px;
}

.figure:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 8px rgb(126, 17, 204));
}

@media (max-width: 1280px) {
  .rest {
    padding-top: 40px;
  }

  .rest__title {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 40px;
  }

  .rest__list {
    gap: 30px 21px;
  }

  .rest__item:nth-child(2) {
    margin-top: 59px;
  }
  
  .rest__item:nth-child(2n+4) {
    margin-top: -59px;
  }

  .figure__text {
    left: 20px;
    bottom: 45px;
  }

  .figure__text_audio {
    max-width: 199px;
    left: 20px;
    bottom: 10px;
    position: absolute;
  }
  
  .figure__text_kino {
    max-width: 247px;
    left: 20px;
    bottom: 10px;
    position: absolute;
  }
}

@media (max-width: 1023px) {
  .rest__item {
    min-width: 230px;
  }
}

@media (max-width: 860px) {
  .rest {
    padding-top: 40px;
  }

  .rest__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }

  .rest__list {
    gap: 20px;
  }

  .rest__item {
    min-width: 235px;
  }

  .rest__item:nth-child(2) {
    margin-top: 0;
  }
  
  .rest__item:nth-child(2n+4) {
    margin-top: 0;
  }

  .figure__text_kino {
    max-width: 274px;
  }
}

@media (max-width: 575px) {
  .rest {
    padding-top: 20px;
  }

  .rest__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .rest__list {
    gap: 10px;
  }

  .rest__item {
    min-width: 160px;
  }

  .figure__text {
    font-size: 10px;
    line-height: 14px;
    left: 10px;
    bottom: 32px;
  }

  .figure__text_audio {
    max-width: 100px;
    left: 10px;
    bottom: 21px;
  }

  .figure__text_micro {
    max-width: 110px;
    left: 10px;
    bottom: 21px;
  }
  
  .figure__text_kino {
    max-width: 115px;
    left: 10px;
    bottom: 8px;
  }
}

@media (max-width: 370px) {
  .rest__item {
    min-width: 135px;
  }
}