:root {
  --bg-color: #1b1a1b;
  --text-color: #ffffff;
  --button-color: #ffffff;
  --focus-color: #cd06ff;
}

.header {
  --hover-color: #6c0287;
  --active-color: #640aa3;
  --outline-color: #cd06ff;
  --burger-background-color: #6c0287;
  --burger-hover-color: #cd06ff;
  --burger-focus-color: #840aa3;
}

.hero {
  --text-decoration-color: #cd06ff;
  --button-color: #6c0287;
  --button-hover-color: #840aa3;
  --button-active-color: #640aa3;
  --down-color: #ffffff;
  --down-hover-color: #6c0287;
  --down-active-color: #cd06ff;
}

.halls {
  --card-hover-color: #6c0287;
  --card-active-color: #640aa3;
}

.reservation {
  --bg-color: #440f51;
  /*радиокнопки*/
  --radio-color: #ffffff;
  --radio-text-color: #1b1a1b;
  --radio-hover-color: #eadeed;
  --radio-hover-outline-color: #640aa3;
  --radio-checked-color: #6c0287;
  --radio-checked-outline-color: #ffffff;
  /*радио, чекбоксы*/
  --checkbox-color: #ffffff;
  --checkbox-checked-color: #6c0287;
  --checkbox-outline-color: #cd06ff;
  /*поля ввода*/
  --input-color: #ffffff;
  /*кнопка*/
  --button-text-color: #6c0287;
  --button-state-color: #eadeed;
  --button-state-outline-color: #6c0287;
}

.about {
  --quote-color: #6c0287;
}

.faq {
  --text-dark-color: #1c1a1a;
  --button-dark-color: #440f51;
  --plus-color: #ffffff;
  --plus-dark-color: #6c0287;
}

.contacts {
  --link-hover-color: #6c0287;
  --link-active-color: #640aa3;
  --icon-hover-color: #eadeed;
}